*{
  margin:0 1px;
  padding:0;
  box-sizing: border-box;
}
#template{
  display:none;
}
.box-film-search >div img{
  border:1px solid black;
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100px;
  background:black;
}
