
*{
  margin:0 ;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color:gray;
}
#template{
  display:none;
}
.box-film-search{
  margin-top:30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box-film-search >div p span img{
  border:1px solid black;
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100px;
  background:black;
}
.list-film-search{
position: relative;
border:2px solid white;
color:white;
width:342px;
height:450px;
margin-bottom:20px;
background-repeat: no-repeat;
background-size: cover;
}



.list-in h2 span{
  font-size:20px;
  color:rgba(255, 255, 255, 0.5);
}
.black{
  background-color:black;
}
.list-film-search:hover .list-in{
  display: block;
}
.list-in{
  display: none;
  position: absolute;
  top:10px;
  width:100%;
}
.search{
  margin-right: 20px;
}
.search input{
  width:150px;
  line-height:20px;
}
.yellow{
  color:yellow;

}
.tipo-film{
  text-align: center;
  position: absolute;
  top:409px;
  width:100%;
  background:red;


}
