
*{
  margin:0 ;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color:gray;
}
#template{
  display:none;
}
.box-film-search{
  margin-top:30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box-film-search >div p span img{
  border:1px solid black;
  box-sizing: border-box;
}
.header-in{
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.list-film-search{
position: relative;
border:2px solid white;
color:white;
width:342px;
height:512px;
margin-bottom:20px;
background-repeat: no-repeat;
background-size: cover;
}

header{
  background:black;

  display:flex;
  flex-direction: column;
}
.header-sx{
  position: relative;
}
.type{
  position: absolute;
}
.black{
  background-color:black;
}
.list-film-search:hover .list-in{
  display: block;
}
.list-in{
  display: none;
  position: absolute;
  top:10px;
  width:100%;
  height:100%;
}
.list-in h2{
  font-size:17px;
}
.search{
  margin-right: 20px;
}
.search input{
  width:150px;
  line-height:20px;
}
.yellow{
  color:yellow;

}
.menu{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
.menu-genere{
  display: flex;
  position: relative;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  color:white;
  margin-left:30px;

}
.menu-genere h2{
  font-size:20px;

}
.menu-genere-in{
  position: absolute;
  display:none;
  width:100%;
  background-color:white;
  color:black;
  text-align: center;
  margin-left:20px;
  top:24px;
  right: 0;
  z-index:999;
}
.menu-genere-in ul{
  text-decoration: none;
  list-style: none;
}
.menu-genere-in ul li{
  list-style: none;
  padding:5px 0;
}
.menu-genere-in ul li a {
  text-decoration:none;
  color:black;

}
.menu-genere-in ul li:hover{
  background-color:red;
  color:black;
}
.tipo-film{
  text-align: center;
  position: absolute;
  bottom:10px;
  width:100%;
  background:red;
}
.list-in h2 span{
  font-size:14px;
  color:rgba(255, 255, 255, 0.5);
}
form{
  width:120px;
  background:gray;
  border:white;
}
.type {
  color:white;
}
